.search-result{
	.price-range{
		form{
			input{
				max-width: calc(50% - (2.8rem / 2));
			}
			button{
				width: 2.8rem;
			}
		}
	}
	.rating{
		a{
			margin-bottom: .5rem;
			color: $text-black;
			i{
				margin-right: 3px;
			}
			span{
				margin-left: 1rem;
			}
		}
	}
}