// colors ------------------
$color-white: #fff;
$color-black: #000;
$text-black: #333;
$color-golden: #FCCD36;
$theme-color: #4AC4FA;
$theme-color-dark: #0286C8;

// size ---------------------
$size-16px: 1.6rem;