// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
    .banner{
        .slide{
            &-content{
                padding: 0 8rem !important;
                h2{
                    font-size: 5rem !important;
                }
                p{
                    font-size: 3rem !important;
                }
            }
        }
    }
    
}

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
    .desktop-nav{
        display: block;
    }
    
    .mobile-nav{
        display: none;
    }
    .banner{
    	.slide{
    		&-content{
    			padding: 0 15rem !important;
    			h2{
    				font-size: 8rem !important;
    			}
    			p{
    				font-size: 5rem !important;
    			}
    		}
    	}
    }
}

// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
    
}